<p>todo-list works!</p>
<hr />
<!-- Q1) Pour avoir un visuel -->
<section class="todoapp" *ngIf="obsTodoList|async as TDL" #list>
  <header class="header">
    <h1>{{TDL.label}}</h1> <!-- Le label de la liste -->
    <form (ngSubmit)="append(newToDo.value)">
      <input name="newTodoInput"
             #newToDo
             class="new-todo"
             placeholder="Que faire?"
             autofocus #lab />
    </form>
  </header>
  <section class="main">
    <div class="view">
      <input class="toggle"
             (change)="$event ? updateAll({isDone: $event},TDL) : null"
                type="checkbox"
                name="toggleAll"
             [checked]="getNumberItems()==0" />
      <label >Tout séléctionner</label>
      <button class="mybutton" *click="undo"  >undo</button>
      <button class="mybutton" (click)="redo"  >redo</button>
    </div>
    <ul class="todo-list">
      <li *ngFor="let e of TDL.items, index as i"  >
        <app-todo-item *ngIf="_f(e)" [Data]="e" (updateEvt)="uptdateVal($event,e)" (removeEvt)="supprItem(e)"  #edition></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong></strong>{{getNumberItems()}} restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="_f= Tous" [ngClass]="_f == Tous?'selected':''">Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="_f = fAFaire" [ngClass]="_f == fAFaire?'selected':''">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="_f = fFait" [ngClass]="_f == fFait?'selected':''" >Complétés</a>
      </li>
    </ul>
    <button class="clear-completed">Supprimer cochées</button>
  </footer>
</section>


<!--
</ul>

<h2> La version sans tout le texte</h2>
<ul *ngIf="obsTodoList|async as TDL" #list>
  <li *ngFor="let e of TDL.items, index as i">
    {{e.label}}
    <input type="checkbox" class="" [checked]="e.isDone" (ngModelChange)="uptdateVal({isDone: $event}, e)">
    <input type="button" (click)="supprItem(e)" value="Supprimer">
  </li>
</ul>
-->

<!--<h2> La version un peu plus propre du code</h2>-->
<!--<ul *ngIf="obsTodoList|async as TDL" #list>-->
<!--  <li *ngFor="let e of TDL.items, index as i">-->
<!--    {{e.label}}-->
<!--    <input type="checkbox" class="" [ngModel]="e.isDone" (ngModelChange)="uptdateVal({isDone:$event},e)" />-->
<!--    <form (ngSubmit)="uptdateVal({label: newlabel.value},e)">-->
<!--      <input type="text" [ngModel]="e.label" class="" #newlabel name="toto"/>-->
<!--    </form>-->
<!--    <input type="button" (click)="supprItem(e)" value="Supprimer" />-->
<!--  </li>-->
<!--</ul>-->

