<p>todo-list works!</p>
<hr />
<!-- Q1) Pour avoir un visuel -->
<section class="todoapp" *ngIf="obsTodoList|async as TDL" #list>
  <header class="header">
    <h1>{{TDL.label}}</h1> <!-- Le label de la liste -->
    <form (ngSubmit)="append(newToDo.value)">
      <input name="newTodoInput"
             #newToDo
             class="new-todo"
             placeholder="Que faire?"
             autofocus #lab />
    </form>
  </header>
  <section class="main">
    <input class="toggle-all"
           type="checkbox"
           name="toggleAll" />
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let e of TDL.items, index as i" >
        <app-todo-item [Data]="e" (uptdateEvt)="uptdateVal($event,e)" (removeEvt)="supprItem(e)"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong></strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll">Tous</a>
      </li>
      <li>
        <a class="filterActives">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed">Supprimer cochées</button>
  </footer>
</section>


<!--
</ul>

<h2> La version sans tout le texte</h2>
<ul *ngIf="obsTodoList|async as TDL" #list>
  <li *ngFor="let e of TDL.items, index as i">
    {{e.label}}
    <input type="checkbox" class="" [checked]="e.isDone" (ngModelChange)="uptdateVal({isDone: $event}, e)">
    <input type="button" (click)="supprItem(e)" value="Supprimer">
  </li>
</ul>
  -->

<h2> La version un peu plus propre du code</h2>
<ul *ngIf="obsTodoList|async as TDL" #list>
  <li *ngFor="let e of TDL.items, index as i">
    {{e.label}}
    <input type="checkbox" class="" [ngModel]="e.isDone" (ngModelChange)="uptdateVal({isDone:$event},e)" />
    <form (ngSubmit)="uptdateVal({label: newlabel.value},e)">
      <input type="text" [ngModel]="e.label" class="" #newlabel />
    </form>
    <input type="button" (click)="supprItem(e)" value="Supprimer" />
  </li>
</ul>
