
<div class="view">
  <input class="toggle"
         type="checkbox"
         [ngModel]="Data.isDone"
         (ngModelChange)="update({isDone : $event})"
         name="done"/>
  <label  class="text" [ngStyle]=" {'text-decoration': Data.isDone? 'line-through':'null'}" (dblclick)="setEditing(true)">{{Data.label}}</label>
  <button class="destroy" (click)="remove()"></button>
</div>
<form (ngSubmit)="update({label: newTextInput.value})">
  <input #newTextInput
         name="newTextInput"
         class="edit" [ngStyle]="{'display':isEditing?'unset':'none'}" [ngModel]="Data.label">
</form>

